header {
	
	color: white;
	clear: both;

}
/*properties below apply only to nav bar in home page*/
#menu ul li {
	float: left;
	color: white;
	padding: 10px;
	display: inline;
	text-align: center;
	width: 150px;
	background-color: #3C5A98;
}

/*menu background color is blue and it overrides the white background color for the rest of the document*/

/*Colorpicker chrome extension used to source 3C5A98 from facebook*/
#status {
	
}

/*css style shadow on the article h3*/
h3 {
	text-shadow: 1px 1px;
}

.menu {
	width: 75%;
	float: left;
}
.main {
	width: 75%;
	float: left;
}
.feed {
	width: 60%;
}
header a:link {
	color: white;
}
header a:visited {
	color: white;
}

/*pseudo class below*/
header a:hover {
	color: red
}
#leftbar {
	float:left;
	padding-right: 15px;
}
.feed {
	border: 5px solid;
	border-color: 3C5A98;
	padding: 2px 10px 5px 10px;

}

/*pseudo element below*/
p::first-letter {
	font-size: x-large;
}

#newspic {
	float: left;

}

#newsfeed {
	margin-left: 5px;
	margin-bottom: 20px;
	padding: 10px;
	width: 700px;
	float: left;
}

/*make the iframes appear to be all part of one page*/
iframe {
	border: 0px
}
main {
	background-color: white;
	color: #3C5A98;
}

main a:link {
	color: #3C5A98;

	aside {
		float: left;
		border: 1px solid red;
	}

}